<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-12">
        <div id="about_page">
            <h3><a href="http://projects.vpr.net/becoming-bernie" target="_blank" alt="VPR's Becoming Bernie"><i>Becoming Bernie</i></h3>
            <div class="content_box">
              <img class="img-responsive" src="http://mediad.publicbroadcasting.net/p/vpr/files/201509/vpr-news-becoming-bernie-20150928.jpg"></a><br>
              <p>A look at the rise and the record of Vermont's Independent senator Bernie Sanders, from his surprise mayoral victory, to his time in Congress, to his candidacy for president. <a href="http://projects.vpr.net/becoming-bernie" target="_blank"> Listen to the broadcast and explore the multilingual, multimedia digital project</a> in English, French and Spanish.</p>
            </div>
        </div>
    </div>
</div>
