{% import "_macros.html" as macros %}
{% for feature in npr %}
<div class="row">
    <div class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">
        <div class="featured">
            <h3><a href="http://www.npr.org/sections/politics/" target="_blank" alt="NPR's Full Political Coverage">NPR's Full Political Coverage</a></h3>
            <div class="content_box"><a href="http://www.npr.org/sections/politics/" target="_blank" alt="NPR's Full Political Coverage">
                <img class="img-responsive" src="{{ url_for('static', filename=feature.image) }}">
                <p><a href="http://www.npr.org/sections/politics/" target="_blank" alt="NPR's Full Political Coverage">Keep up with NPR's full political coverage.</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
